 html {
  font-size: 16 px;
   font-weight: 600 important;
}


select{
  font-weight: 900 !important;
}

button.btnSubm{
  font-weight: 900 !important;
}

input.args{
  width: 60 px !important;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 22px !important;
 
}
/*
select.args{
  width: 60px !important;
    font-weight: 600 !important;
  font-size: 22px !important;
 
};  */
.args{
 
}
.sel {
 
}

.args .sel {
  font-size: 16 px;
  font-weight: 900;;
}

